html {
  overflow-y: scroll;
}

.hidden {
    display: none;
  }


/* Extra small devices (phones, 576x and down) */
@media only screen and (max-width: 576px) {
  ul {
    columns: 1;
    -webkit-columns: 1;
    -moz-columns: 1;
  }
}

/* Small devices (portrait tablets and large phones, 576px and up) */
@media only screen and (min-width: 576px) {
  ul {
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
  }

  .character-card {
    columns: 1;
    -webkit-columns: 1;
    -moz-columns: 1;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  ul {
    columns: 3;
    -webkit-columns: 3;
    -moz-columns: 3;
  }

  .character-card {
    columns: 1;
    -webkit-columns: 1;
    -moz-columns: 1;
  }
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  ul {
    columns: 3;
    -webkit-columns: 3;
    -moz-columns: 3;
  }

  .character-card {
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
  }
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  ul {
    columns: 4;
    -webkit-columns: 4;
    -moz-columns: 4;
  }

  .character-card {
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1400px) {
  ul {
    columns: 5;
    -webkit-columns: 5;
    -moz-columns: 5;
  }

  .character-card {
    columns: 3;
    -webkit-columns: 3;
    -moz-columns: 3;
  }
}