{% extends "base.html" %}
{% block title %}Cochar - about{% endblock %}
{% block content %}
<div class="container mt-3 px-md-5">
  <!-- About Project Card -->
  <div class="row">
    <div class="col-12">
      <div class="border rounded bg-light px-5 pt-3">
        <h1>About Project</h1>
        <p>Please support project</p>
      </div>
    </div>
  </div>
  <!-- Api card -->
  <div class="row">
    <div class="col">
      <div class="border rounded bg-light p-5 mt-3">
        <h1>API</h1>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam, debitis ipsam dolorem accusamus aliquam ut inventore quasi, reiciendis natus minus maiores similique molestias nisi id harum laborum sequi! Nemo, voluptates.
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam reiciendis error eius quasi dolor molestias fuga doloremque velit possimus, vitae odit magni cupiditate neque recusandae rerum sapiente. Atque, excepturi iusto!Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam, debitis ipsam dolorem accusamus aliquam ut inventore quasi, reiciendis natus minus maiores similique molestias nisi id harum laborum sequi! Nemo, voluptates.
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam reiciendis error eius quasi dolor molestias fuga doloremque velit possimus, vitae odit magni cupiditate neque recusandae rerum sapiente. Atque, excepturi iusto!Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam, debitis ipsam dolorem accusamus aliquam ut inventore quasi, reiciendis natus minus maiores similique molestias nisi id harum laborum sequi! Nemo, voluptates.
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam reiciendis error eius quasi dolor molestias fuga doloremque velit possimus, vitae odit magni cupiditate neque recusandae rerum sapiente. Atque, excepturi iusto!Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam, debitis ipsam dolorem accusamus aliquam ut inventore quasi, reiciendis natus minus maiores similique molestias nisi id harum laborum sequi! Nemo, voluptates.
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam reiciendis error eius quasi dolor molestias fuga doloremque velit possimus, vitae odit magni cupiditate neque recusandae rerum sapiente. Atque, excepturi iusto!
        </p>
      </div>
    </div>
  </div>
  <!-- Python3 module -->
  <div class="row">
    <div class="col">
      <div class="border rounded bg-light p-5 mt-3 mb-3">
        <h1>Python Module</h1>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam, debitis ipsam dolorem accusamus aliquam ut inventore quasi, reiciendis natus minus maiores similique molestias nisi id harum laborum sequi! Nemo, voluptates.
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam reiciendis error eius quasi dolor molestias fuga doloremque velit possimus, vitae odit magni cupiditate neque recusandae rerum sapiente. Atque, excepturi iusto!Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam, debitis ipsam dolorem accusamus aliquam ut inventore quasi, reiciendis natus minus maiores similique molestias nisi id harum laborum sequi! Nemo, voluptates.
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam reiciendis error eius quasi dolor molestias fuga doloremque velit possimus, vitae odit magni cupiditate neque recusandae rerum sapiente. Atque, excepturi iusto!Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam, debitis ipsam dolorem accusamus aliquam ut inventore quasi, reiciendis natus minus maiores similique molestias nisi id harum laborum sequi! Nemo, voluptates.
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam reiciendis error eius quasi dolor molestias fuga doloremque velit possimus, vitae odit magni cupiditate neque recusandae rerum sapiente. Atque, excepturi iusto!Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam, debitis ipsam dolorem accusamus aliquam ut inventore quasi, reiciendis natus minus maiores similique molestias nisi id harum laborum sequi! Nemo, voluptates.
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam reiciendis error eius quasi dolor molestias fuga doloremque velit possimus, vitae odit magni cupiditate neque recusandae rerum sapiente. Atque, excepturi iusto!
        </p>
      </div>
    </div>
  </div>
</div>
{% endblock %}