{% extends "base.html" %}
{% block title %}Cochar - about{% endblock %}
{% block navitems %}
<li class="nav-item">
  <a class="nav-link" aria-current="page" href="/">Generator</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="/about">About</a>
</li>
<li class="nav-item">
  <a class="nav-link active" href="/donation">Donation</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="https://github.com/ajwalkiewicz/cochar">Github</a>
</li>
{% endblock %}
{% block content %}
<div class="container mt-3 px-md-5">
  <!-- Donation -->
  <div class="row">
    <div class="col-12">
      <div class="border rounded bg-light px-5 pt-3">
        <h1>Donate</h1>
        <p>Please support project</p>
      </div>
    </div>
  </div>
</div>
{% endblock %}