{% extends "base.html" %} {% block title %}Cochar - about{% endblock %} {% block
content %}
<div class="container mt-3 px-md-5">
  <!-- About Project Card -->
  <div class="row">
    <div class="col-12">
      <div class="border rounded bg-light px-5 pt-3">
        <h1><u>C</u>all <u>o</u>f <u>C</u>thulhu C<u>har</u>acter Generator</h1>
        <hr />
        <h2>Summary</h2>
        <p>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Reiciendis
          exercitationem temporibus perspiciatis reprehenderit, quaerat et,
          animi, voluptatum aliquid molestiae corrupti voluptatem? In illo,
          quidem harum id ullam numquam dignissimos doloremque!
        </p>
        <h2>Support</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam
          nesciunt saepe deleniti quisquam, porro fugit. Dolor, molestias amet
          eligendi tempora et voluptatem asperiores obcaecati saepe nostrum
          atque, deserunt aut dolorum.
        </p>
      </div>
    </div>
  </div>
</div>
{% endblock %}
