{% extends "base.html" %}
{% block title %}Cochar - Generator{% endblock %}
{% block custom_css %}
<link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">
{% endblock %}
{% block content %}
<div class="container mt-3 px-md-5">
  <div class="row">
    <div class="col">
      <div class="border rounded bg-light px-5 pt-3">
        <h2>Call of Cthulhu Character Generator</h2>
      </div>
    </div>
  </div>
  <div class="row">
    <!-- Generator Card -->
    <div class="col-lg-4 ">
      <div class="border rounded bg-light p-5 mt-3 mb-3">
        <!-- <div class="row mb-3">
          <div class="col-1">
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
              <button class="btn btn-danger btn-sm mb-3 " id="clear-btn" type="button">Clear</button>
            </div>
          </div>
        </div> -->
  
        <!-- Form -->
        <form class="row needs-validation" novalidate>
          <div class="row mb-1">
            <label for="validation-first-name" class="form-label">First name</label>
            <input type="text" class="form-control" id="validation-first-name" value="" placeholder="Random" required>
            <div class="invalid-feedback">
              First name cannot be empty
            </div>
          </div>
          <div class="row mb-1">
            <label for="validation-last-name" class="form-label">Last name</label>
            <input type="text" class="form-control" id="validation-last-name" value="" placeholder="Random" required>
            <div class="invalid-feedback">
              Last name cannot be empty.
            </div>
          </div>
          <div class="row mb-2 ml-0">
            <div class="col-lg-6">
              <label for="validation-country" class="form-label">Country</label>
              <div class="input-group has-validation">
                <!-- <span class="input-group-text" id="inputGroupPrepend">@</span> -->
                <select class="form-select" id="validation-country" aria-describedby="inputGroupPrepend" required>
                  <option active>US</option>
                  <option>PL</option>
                  <option>ES</option>
                </select>
                <div class="invalid-feedback">
                  Please use valid country.
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <label for="validation-age" class="form-label">Age</label>
              <input type="text" class="form-control" id="validation-age" value="" placeholder="Age between 15 and 90" required>
              <div class="invalid-feedback">
                Age must be between 15 and 90.
              </div>
            </div>
          </div>
          <div class="row mb-2">
            <div class="col-lg-6">
              <label for="validation-sex" class="form-label">Gender</label>
              <div class="input-group has-validation">
                <!-- <span class="input-group-text" id="inputGroupPrepend">@</span> -->
                <select class="form-select" id="validation-sex" aria-describedby="inputGroupPrepend" required>
                  <option active>Random</option>
                  <option>Male</option>
                  <option>Female</option>
                </select>
                <div class="invalid-feedback">
                  Please use valid gender.
                </div>
              </div>
            </div>

            <div class="col-lg-6">
              <label for="validation-year" class="form-label">Year</label>
              <input type="text" class="form-control" id="validation-year" value="1925" placeholder="1925" required>
              <div class="invalid-feedback">
                Year must be an Integer
              </div>
            </div>
            
          </div>
          <div class="row">
            <label for="validation-occupation" class="form-label">Occupation</label>
            <select class="form-select" id="validation-occupation" required>
              <option selected>optimal</option>
              <option>random</option>
              <option>antiquarian</option>
              <option>artist</option>
              <option>athlete</option>
              <option>author</option>
              <option>entertainer</option>
              <option>soldier</option>
              <option>lawyer</option>
              <option>librarian</option>
              <option>military officer</option>
              <option>missionary</option>
              <option>musician</option>
              <option>parapsychologist</option>
              <option>pilot</option>
              <option>clergy</option>
              <option>criminal</option>
              <option>dilettante</option>
              <option>doctor of medicine</option>
              <option>drifter</option>
              <option>engineer</option>
              <option>farmer</option>
              <option>hacker</option>
              <option>journalist</option>
              <option>police detective</option>
              <option>police  officer</option>
              <option>private  investigator</option>
              <option>professor</option>
              <option>tribe member</option>
              <option>zealot</option>
              <option>sailor, naval</option>
            </select>
            <div class="invalid-feedback">
              Please select an occupation.
            </div>
          </div>
          <!-- <div class="col-12">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="invalidCheck" required>
              <label class="form-check-label" for="invalidCheck">
                Agree to terms and conditions
              </label>
              <div class="invalid-feedback">
                You must agree before submitting.
              </div>
            </div>
          </div> -->
          <button class="btn btn-primary mt-4 btn-lg btn-block" id="generate-btn" type="button">Generate Character</button>
        </form>
      </div>
    </div>

    <!-- Character Card -->
    <div class="col-lg-8" id="character-card">
      <div class="border rounded bg-light p-5 mt-3 mb-3">
        <!-- Character Name -->
        <div class="row">
          <h2 id="character-name">Mr John Dow, Doctor, US</h2>
          <h4 id="character-info">45 yo, Doctor, US</h4>
          <hr class="mt-3">
        </div>
        <!-- Character Statistics -->
        <div class="row">
          <h5>Characteristics</h5>
          <div class="row text-nowrap">
            <div class="col col-lg-3 col-md-4 col-sm-6" id="str"><strong>STR:</strong></div>
            <div class="col col-lg-3 col-md-4 col-sm-6" id="con"><strong>CON:</strong></div>
            <div class="col col-lg-3 col-md-4 col-sm-6" id="siz"><strong>SIZ:</strong></div>
            <div class="col col-lg-3 col-md-4 col-sm-6" id="dex"><strong>DEX:</strong></div>
            <div class="col col-lg-3 col-md-4 col-sm-6" id="app"><strong>APP:</strong></div>
            <div class="col col-lg-3 col-md-4 col-sm-6" id="edu"><strong>EDU:</strong></div>
            <div class="col col-lg-3 col-md-4 col-sm-6" id="int"><strong>INT:</strong></div>
            <div class="col col-lg-3 col-md-4 col-sm-6" id="pow"><strong>POW:</strong></div>
            <div class="col col-lg-3 col-md-4 col-sm-6" id="luck"><strong>Luck</strong>:</div>
            <div class="col col-lg-3 col-md-4 col-sm-6" id="hit-points"><strong>Hit points:</strong></div>
            <div class="col col-lg-3 col-md-4 col-sm-6" id="magic-points"><strong>Magic points</strong></div>
            <div class="col col-lg-3 col-md-4 col-sm-6" id="doge"><strong>Doge:</strong></div>
            <div class="col col-lg-6 col-md-4 col-sm-6" id="damage-bonus"><strong>Damage bonus:</strong></div>
            <div class="col col-lg-3 col-md-4 col-sm-6" id="build"><strong>Build:</strong></div>
            <div class="col col-lg-3 col-md-4 col-sm-6" id="move-rate"><strong>Move rate:</strong></div>
          </div>
          <hr class="mt-3">
        </div>
        <!-- Character Skills -->
        <div class="row">
          <h5>Skills</h5>
          <div class="row text-nowrap" id="skills">
            <!-- <p id="skills"></p> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- cochar -->
<!-- <script src="script.js"></scrip> -->
<script src="{{ url_for('static', filename='script.js') }}"></script>
{% endblock %}