{% extends "base.html" %}
{% block title %}Cochar - about{% endblock %}
{% block navitems %}
<li class="nav-item">
  <a class="nav-link" aria-current="page" href="/">Generator</a>
</li>
<li class="nav-item">
  <a class="nav-link active" href="/about">About</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="/donation">Donation</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="https://github.com/ajwalkiewicz/cochar">Github</a>
</li>
{% endblock %}
{% block content %}
<div class="container mt-3 px-md-5">
  <!-- About Project Card -->
  <div class="row">
    <div class="col-12">
      <div class="border rounded bg-light px-5 pt-3">
        <h1>About Project</h1>
        <p>Please support project</p>
        <h3>Architecture</h3>
        <p>
          <img src="{{ url_for('static', filename='architecture.drawio.png') }}" class="img-rounded mx-auto d-block" alt="Architecture"> 
        </p>
      </div>
    </div>
  </div>
  <!-- Api card -->
  <div class="row">
    <div class="col">
      <div class="border rounded bg-light p-5 mt-3">
        <h1>API</h1>
        <h3>
          Basic Usage
        </h3>
        <p>
          Using curl
          <kbd>
            curl http://walu.pythonanywhere.com/api/get
          </kbd>
        </p>
        <h3>Attributes</h3>
        <br>
          <strong>year: </strong>Year of the game<br>
          <strong>country: </strong>Country of character's origin<br>
          <strong>first_name: </strong>Character's first name, defaults to random<br>
          <strong>last_name: </strong>Characters' last name, defaults to random<br>
          <strong>age: </strong>Character's age<br>
          <strong>sex: </strong>Character's sex<br>
          <strong>occupation: </strong>Character's occupation<br>
          <strong>random_mode: </strong>By default occupations fits characters characteristics and give maximum skill point to character. If random mode is true, occupation is selected randomly regardless character's statistics<br>
        </p>
        <h3>Occupations</h3>
        <p>
          
        </p>
      </div>
    </div>
  </div>
  <!-- Python3 module -->
  <div class="row">
    <div class="col">
      <div class="border rounded bg-light p-5 mt-3 mb-3">
        {{ python_module|safe }}
      </div>
    </div>
  </div>
</div>
{% endblock %}